<section data-ng-controller="RecipesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Recipe</h1>
    </div>
    <div class="col-md-12 col-md-offset-0">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="recipe.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                  <label class="control-label">Ingredients</label>
                  <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#ingredientsModal">
                    <i class="glyphicons glyphicon-plus"></i>
                  </button>

                  <table class="table">
                    <thead>
                      <tr>
                        <th>Quantity</th>
                        <th>Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="ingredient in recipe.ingredients">
                        <td>{{ingredient.quantity}} {{ingredient.unit}}</td>
                        <td>{{ingredient.name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>

  <!-- Modal -->
  <div class="modal fade" id="ingredientsModal" tabindex="-1" role="dialog" aria-labelledby="ingredientsModalLabel" aria-hidden="true">
    <div class="modal-sm modal-dialog">
      <div class="modal-content">
        <form class="form-inline" data-ng-submit="insertIngredient()" novalidate>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Ingredient</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="control-label" for="ingredientName">Name</label>
              <div class="controls">
                <input type="text" data-ng-model="ingredientName" id="ingredientName" class="col-xs-6 form-control" placeholder="Name" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="ingredientQuantity">Quantity</label>
              <div class="controls">
                <input type="text" data-ng-model="ingredientQuantity" id="ingredientQuantity" class="form-control small-control" placeholder="1" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="ingredientUnit">Unit</label>
              <div class="controls">
                <select class="col-xs-1 form-control" data-ng-model="ingredientUnit">
                  <option>cups</option>
                  <option>gr</option>
                  <option>kg</option>
                  <option>knob</option>
                  <option>lbs</option>
                  <option>liter</option>
                  <option>lug</option>
                  <option>ml</option>
                  <option>oz</option>
                  <option>pcs</option>
                  <option>tbs</option>
                  <option>ts</option>
                </select>
              </div>

              <!--
                <input type="text" data-ng-model="ingredientUnit" id="ingredientUnit" class="form-control" placeholder="gr kg oz lbs cups tbs ts ml liter lug knob pcs" required>
               -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-success" value="Save changes"></input>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal -->
</section>
